# Config file in Java property file format

#
# Mandatory. Base directory for all the import job directories. Recommended value: subdirectory import in your GNU Cash file directory.
#
# Example Windows: baseDir=C:/Users/<user>/gnuCash/import
# Example Linux: baseDir=/var/gnuCash/import
baseDir=/change/me/import

#
# Optional. Subdirectory names under baseDir
#
gnuCashDirName=gnuCash
ingDirName=ing
abnDirName=abn

#
# Mandatory for 'move' command. Typical downloads directory where the incoming files will be downloaded.
#
# Example Windows: downloadsDir=C:/Users/<user>/Downloads
# Example Linux: downloadsDir=/home/<user>/Downloads
downloadsDir=/change/me/Downloads

#
# Optional. Fields (key-value pairs) to skip from description when generating MT940 for ING import
#
# Known values: Kenmerk,Incassant ID,Machtiging ID,IBAN,MutatieSoort,TegenRekening
# Default values: Kenmerk,Incassant ID,Machtiging ID
#ingDescriptionSkipFields=Kenmerk,Incassant ID,Machtiging ID

#
# Optional. Keys to skip (values remain) from description when generating MT940 for ING import.
#
# Known values: Naam,NaamOmschrijving,Omschrijving,Kenmerk,Incassant ID,Machtiging ID,IBAN,MutatieSoort,TegenRekening
# Default values: Naam,NaamOmschrijving,Omschrijving
#ingDescriptionSkipKeys=Naam,NaamOmschrijving,Omschrijving